{:paths ["src" "notebooks" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        rum/rum             {:mvn/version "0.12.8"
                             :exclusions [cljsjs/react cljsjs/react-dom]}
        scicloj/tablecloth  {:mvn/version "7.029.1"}
        org.scicloj/kindly {:mvn/version "4-beta2"}
        org.scicloj/clay {:mvn/version "2-beta7"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build} :neil {:project {:name tc-profiling/tc-profiling}}}}
